.loading-spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    text-align: center;
  }
  
  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loading-text {
    position: absolute;
    top: 60%; /* Adjust this value to control the vertical position */
    left: 52%;
    transform: translateX(-50%);
    font-size: 18px; /* You can adjust the font size */
    color: #333; /* You can set the desired text color */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .btn-purple {
    color: #fff;
    background-color: #37003c;
    border-color: #37003c;
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .btn-purple:hover {
    background-color: lighten(#37003c, 20%) !important; /* Adjust the percentage as needed */
  }
  