<body>
  <nav class="navbar navbar-expand-lg shadow" style="background-color: rgba(0, 123, 255, 0.568);">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="../static/prem-logo.png" alt="FPL" width="40" height="40">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('weekly_dash') }}"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('player_search', player_name=player_name) if player_name else url_for('player_search') }}"
              >Player Search</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://www.premierleague.com/"
              >Premier League Website</a
            >
          </li>
        </ul>
          <button class="btn btn-danger">
            <a class="nav-link" href="{{ url_for('league_code')}}"
              >League Code</a
            >
          </button>
      </div>
    </div>
  </nav>
</body>

