{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1 style="text-align: center">
      <form action="/player_search" method="POST">
        <input type="text" name="player_name"
        placeholder="Enter a player name!"
        value="{{ request.form['player_name']}}"></input>
      </form>
      <h1>{{player_name}}</h1>
      <p style="font-size:30px">{{player_info}}</p>
      <p style="font-size:20px;">{{owner_info}}</p>
      <br/>    
      <div>
        {% if player_name != "" %}
          <div class="card">
              <table>
                  <div class="card-header text-bg-info mb-3">
                      <h4>{{ title }}</h4>
                  </div>
                  <tbody>
                      {{ player_history|safe }}
                  </tbody>
              </table>
          </div>
        {% endif %}
      </div>
    </h1>
  </body>
</html>
{% endblock %}
