<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>League Code</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css/site.css">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.dropbox.com/scl/fi/n1gfljco258g5nwrrlmu9/apple-touch-icon.png?rlkey=eqr9ivly2h1h4n2h16cxgrcgu&raw=1">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dropbox.com/scl/fi/u9sijzrr338038908v3nf/favicon2-32x32.png?rlkey=5kc881ausawybhqkbrvx8gf0h&raw=1">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.dropbox.com/scl/fi/7x6xd9cp7k5fs1plg6shs/favicon2-16x16.png?rlkey=wj5sfl44zodltruloc6cnm2j1&raw=1">
  <script src="static/js/script.js"></script>
</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form action="/" method="POST" onsubmit="showLoading()">
              <div class="field">
                <label class="label has-text-info">League Code:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="leagueCode" placeholder="League Code" value="{{ request.form['leagueCode'] }}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-info">
                    Enter
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="loading-spinner" class="loading-spinner">
    <div class="spinner"></div>
    <p id="loading-text" class="loading-text">
      <script>document.write(getRandomLoadingMessage());</script>
    </p>
  </div>
</body>
</html>